
<div class="footer-left">

  <h3>Virtual<span>
      - School</span></h3>
  <hr width="40%">
  <h5>Team<span>
      - Members</span></h5>

</div>
<div style="display: inline-flex; width: 25px; height: 100px;">
  <hr style="margin: 0px 0px 0px 12.5px;">
</div>
<div class="footer-right">

  <p class="footer-company-about">
    <span id="underLine">MD ALAM</span>
    <a href="http://alamwebtech.com/portfolio/">Portfolio Website</a>
    <br>
    <a href="http://alamwebtech.com/portfolio/">Linkedin</a>
    <br>
    <a href="http://alamwebtech.com/portfolio/">Github</a>

  </p>

</div>
<div style="display: inline-flex; width: 25px; height: 100px;">
  <hr style="margin: 0px 0px 0px 12.5px;">
</div>
<div class="footer-right">

  <p class="footer-company-about">
    <span id="underLine">JOHN WALLACE</span>
    <a href="http://alamwebtech.com/portfolio/">Portfolio Website</a>
    <br>

        <a href="http://alamwebtech.com/portfolio/">Linkedin</a>
    <br>
  <a href="http://alamwebtech.com/portfolio/">Github</a>

  </p>

</div>

<div style="display: inline-flex; width: 25px; height: 100px;">
  <hr style="margin: 0px 0px 0px 12.5px;">
</div>
<div class="footer-right">

  <p class="footer-company-about">
    <span id="underLine">RAVEN HOOPER</span>
    <a href="http://alamwebtech.com/portfolio/">Portfolio Website</a>
    <br>
    <a href="http://alamwebtech.com/portfolio/">Linkedin</a>
    <br>
    <a href="http://alamwebtech.com/portfolio/">Github</a>
  </p>

</div>

<div style="display: inline-flex; width: 25px; height: 100px;">
  <hr style="margin: 0px 0px 0px 12.5px;">
</div>
<div class="footer-right">

  <p class="footer-company-about">
    <span id="underLine">GEORGE DONG</span>
    <a href="https://www.gsdong.com/">Portfolio Website</a>
    <br>
    <a href="https://www.linkedin.com/in/george-sy-dong/">Linkedin</a>

    <br>
    <a href="https://github.com/GeorgeDonald">Github</a>

  </p>

</div>
