<h1>I'm a <%= current_user.schoolrole %>. What can I do today?</h1>
<% if current_user.schoolrole == 'Teacher' %>
  <%= render 'teacher' %>
<% elsif current_user.schoolrole == 'Tutor' %>
  <%= render 'tutor' %>
<% elsif current_user.schoolrole == 'Student' %>
  <%= render 'student' %>
<% else %>
<p>I don't know what can you do.</p>
<% end %>
