// .navbar-nav .nav-item span {
//    display: block;
//    padding-bottom: 0.425rem;
//   padding-top: 0.425rem;
//  }
//
 #messages {
  height: calc(100% - 120px);
  overflow-y: auto;
  margin-top: 0;
   .avatar {
     margin: 1rem;
     margin-left: 0rem;
   }
 }
