// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar {
  display: grid;
  grid-template-columns: 14% 14% 14% 14% 14% 14% 14%;
  margin: 0;
  padding: 0;
}

.calendar-day {
  width: 14%;
  height: 216px;
  background-color: blue;
  border: 1px solid red;
  color: white;
}

.disabled, .blank {
  background-color: white;
  color: grey;
}
